/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*--------------------*/
/*font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;*/
* {padding: 0;margin: 0;border: 0; scroll-behavior: smooth;}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}
/*--------------------*/
:root {
  --black: #222;
  --white: #fff;
  --black-text-shadow: rgba(0, 0, 0, .4);
  --black-box-shadow: rgba(0, 0, 0, .8);
  --white-social-shadow: rgba(255, 255, 255, .4);
}
/*--------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  cursor: default;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .9s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  width: 80%;
  grid-row-gap: 2em;
}
.title {
  font-size: 4em;
  font-weight: 600;
  transition: .3s;
}
.shadow {
  text-shadow: 7px 7px 10px var(--black-text-shadow);
}
.content {
  background: white;
  border-radius: 14px;
  padding: 2em;
  box-shadow: var(--black-box-shadow) 10px 10px 20px;
}
.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: -100;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
/* ----- Reveal Animation ----- */
/*@keyframes reveal {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
.home {
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
  animation-name: reveal;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.portfolio,
.skills,
.contact {
  top: 20px;
  scale: 0.94;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
.home.active,
.portfolio.active,
.skills.active,
.contact.active {
  opacity: 1;
  top: 0;
  scale: 1;
}*/
/*#revealPoint {
  position: fixed;
  height: 20px;
  width: 100%;
  left: 0;
  bottom: 250px;
  color: red;
  padding: 7px;
  margin: 0;
  border-bottom: 1px solid red;
}*/
/* ---------- HOME ---------- */
.home {
  height: 100vh;
  width: 100vw;
}
.reveal {}
.home__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.05;
}
.nav-box {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  display: grid;
  text-align: right;  
  grid-row-gap: 1.5em;
  background-color: var(--black);
  border-radius: 14px;
  padding: 1.5em;
  padding-bottom: 2em;
  transition: all .3s ease 0s;
}
.nav-box.active-menu {
  top: -41%;
  box-shadow: var(--black-box-shadow) 10px 10px 20px;
}
.portfolio-box {
}
.box__link {
  color: var(--white);
  background: var(--black);
  /*background: var(--black);*/
  padding: 0.25em 0.5em;
  border-radius: 14px;
  font-size: 1.25em;
  font-weight: 600;
  /*box-shadow: 5px 5px 8px var(--black-box-shadow);*/
  /*box-shadow:  5px 5px 40px #191919,
             -5px -5px 40px #2b2b2b;*/
  overflow: hidden;
  transition: .3s;
}
.box__link:hover {
  color: var(--black);
  background: var(--white);
  letter-spacing: 1px;

}
.skills-box {}
.contact-box {}
.container--top {
  position: relative;
  width: 100%;
  height: 167px;
}

.toggle-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
}
.toggle-menu span {
  width: 22.5px;
  border: 1.25px solid var(--black);
  background: var(--black);
  transition: .3s;
}
.toggle--top {
  animation: top-toggle .3s 0s 1 forwards;
}
@keyframes top-toggle {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.toggle--top.active-menu {
  position: absolute;
  animation: top-toggle-active .3s 0s 1 forwards;
  /*transform: rotate(45deg);*/
  top: 7.5px;
  left: -20px;
}
@keyframes top-toggle-active {
  0% {
    top: 0;
  }
  50% {
    top: 7.5px;
  }
  100% {
    transform: rotate(45deg);
  }
}
.toggle--middle {
  animation: middle-toggle .3s 0s 1 forwards;
}
@keyframes middle-toggle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
  }
}
.toggle--middle.active-menu {
  position: absolute;
  animation: middle-toggle-active .3s 0s 1 forwards;
  top: 7.5px;
  left: -20px;
}
@keyframes middle-toggle-active {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0);
  }
}
.toggle--bottom {
  animation: bottom-toggle .3s 0s 1 forwards;
}
@keyframes bottom-toggle {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.toggle--bottom.active-menu {
  position: absolute;
  animation: bottom-toggle-active .3s 0s 1 forwards;
  top: 7.5px;
  left: -20px;
}
@keyframes bottom-toggle-active {
  0% {
    top: 0;
  }
  50% {
    top: 7.5px;
  }
  100% {
    transform: rotate(-45deg);
  }
}
.top--left {}
.first__title {
  font-size: 2.5em;
  font-weight: 400;
}
.active-line {}
.active-line::after {
  display: inline-block;
  position: absolute;
  content: '|';
  font-weight: 500;
  font-size: inherit;
  animation: animate 1.625s steps(2) infinite;
  animation-delay: 1.625s;
}
.second__title {
  font-size: 2.75em;
  font-weight: 600;
}
.third__title {
  font-size: 2.5em;
  font-weight: 5400;
}
.top--right {}
.container--bottom {
  width: 100%;
}
.container__row {}
.container__row--left {
  display: none;
}
.mini__row--top {}
.mini__col--left {}
.mini__col--right {
}
.text-line {}
.mini__row--bottom {}
.container__row--right {
  height: 145px;
}
.container__row--right .active-line::after {
  margin-left: -5px;
}
.home__title--top,
.home__title--bottom {
  text-align: left;
  font-size: 2.95em;
  font-weight: 800;
}

/* ---------- CAROUSEL ---------- */
.portfolio {
  height: 100vh;
  width: 100vw;
}
.portfolio__container {}
.title__container {}
.portfolio__title {
  font-size: 2.75em;
  font-weight: 600;
  line-height: 1.1;
}

/* ----- Carousel ----- */
.carousel__container {
  background: white;
  border-radius: 14px;
  padding: 2em;
  box-shadow: var(--black-box-shadow) 10px 10px 20px;
}
.portfolio__carousel {
  position: relative;
  height: 370px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  background: transparent;
  border: 0;
  transition: .3s;
  cursor: pointer;
  z-index: 2;
}
.carousel__button--left {
  left: -.55em;
}
.carousel__button--right {
  right: -.55em;
}
.bx-chevron-right,
.bx-chevron-left {
  transition: .3s;
}
.bx-chevron-right:hover,
.bx-chevron-left:hover {
  text-shadow: 4px 4px 4px var(--black-text-shadow);
  transition: .3s;
}
.is-hidden {}
.carousel__track-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel__track {
  padding: 0em;
  margin: 0 0 0 1em;
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 750ms ease-in-out;
}
.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__slide img {
  height: 100%;
  object-fit: cover;
  transform: scale(.95);
  padding-right: 2.25em;
  opacity: 1;
  transition: 1s;
}
.current-slide {}
.current-slide img {
  opacity: 1;
  transition: 1s;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding-top: .6em;
  margin-bottom: -.5em;
}
.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  background: rgba(0, 0, 0, .3);
  margin: 0 10px;
  cursor: pointer;
  opacity: 1;
  transition: .3s;
}
.carousel__indicator:hover {
  background: rgba(0, 0, 0, .525);
  transition: .175s;
}
.carousel__indicator.current-slide {
  background: var(--black-box-shadow);
  transition: .3s;
}
/*.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}*/

/* ---------- CAROUSEL ---------- */
.skills {
  width: 100vw;
  height: 100vh;
}
.skills__container {}
.title__container {}
.skills__title {
  font-size: 2.75em;
  font-weight: 600;
  line-height: 1.1;
}
.skills__table {
  display: grid;
  grid-row-gap: 1em;
}
.table__row {
  display: grid;
  grid-row-gap: 1em;
}
.table__column {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  font-weight: 500;
}
.table__column img {
  width: 14px;
  padding-left: .15em;
}

/* ---------- CAROUSEL ---------- */
.contact {
  width: 100vw;
  height: 100vh;
}
.contact__container {}
.title__container {}
.contact__title {
  font-size: 2.75em;
  font-weight: 600;
  line-height: 1.1;
}
.contact__body {
  display: grid;
  grid-row-gap: 1em;
}
.contact__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact__column {
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: .5em;
}
/*.contact__column:last-child {
  flex: auto;
  max-width: 75%;
}*/
.contact__email {
  position: relative;
}
.text__email {}
.email {
  font-size: 1em;
  font-weight: 500;
}
.text__copy {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 2em 1em 1em;
  z-index: -1;
}
.copy__text {

}