@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');


* {
	padding: 0;
	margin: 0;
	border: 0;
	/* overflow-x: none; */
	scroll-behavior: smooth;
	box-sizing: border-box;
	/* z-index: 2; */
}


.wrapper {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
}

#navigation-menu {
	display: none;
}

.header {
	position: relative;
}

#navigation {
	position: fixed;
	background-color: #27374D;
	height: 80px;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	padding: 0 100px;
	z-index: 100;
}

.navigation-logo {
	color: #DDE6ED;
	font-size: 30px;
	font-weight: 600;
	cursor: pointer;
	transition: .3s all;
	border-radius: 100px;
	text-decoration: none;
}

.navigation-elements {
	color: #DDE6ED;
	display: flex;
}

.navigation-element {
	padding: 10px 20px;
	cursor: pointer;
	transition: .3s all;
	border-radius: 100px;
}

.navigation-element:hover {
	background-color: #DDE6ED;
	color: #27374D;
}

.fa-xmark,
.fa-bars {
	display: none !important;
}

.content {
	position: relative;
	background-color: #DDE6ED;
	height: 100%;
}

.main {
	position: relative;
	z-index: 10;
}

.container-1 {
	height: 100vh;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.text-content {
	position: relative;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.h1-title {
	color: #27374D;
	font-size: 90px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
}

.h3-title {
	color: #27374D;
	font-size: 32.5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.button-container {
	display: flex;
	align-items: center;
	column-gap: 10px;
	row-gap: 10px;
	/* justify-content: space-between; */
	margin-top: 20px;
	flex-wrap: wrap;
	width: 400px;
}

.button-container a {
	text-decoration: none;
	/* color: #DDE6ED; */
}

.button {
	background-color: #27374D;
	color: #DDE6ED;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: .3s all;
}

.button:hover {
	color: #27374D;
	background-color: #DDE6ED;
}

.image-content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-content {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* z-index: 11; */
}

.arrow-down__link {
	position: absolute;
	bottom: 5%;
	left: 25%;
	transform: translate(-50%, -50%);
	text-decoration: none;
}

.arrow-down {
	font-size: 40px;
	background-color: #27374D;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	transition: .3s all;
}

.arrow-down i {
	color: #DDE6ED;
	text-decoration: none;
	transition: .3s all;
}

.arrow-down:hover {
	background-color: #DDE6ED;
}

.arrow-down:hover i {
	color: #27374D;
}

.about-us {
	position: relative;
}

.our-services {
	background-color: #27374D;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;
	position: relative;
}

.our-services .container {
	display: grid;
	grid-template-columns: 1fr;
	padding: 60px;
	margin: 0;
}

.service-el {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	width: 100%;
	/* padding: 50px; */
}

.el-image {
	width: 700px;
	height: 500px;
	height: 100%;

}

.el-img {
	width: 700px;
	/* height: 500px; */
	height: 100%;
	object-fit: cover;
}

.el-text {
	width: 700px;

}

.el-title {
	color: #DDE6ED;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
}

.el-desc {}

.title-h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	color: #DDE6ED;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;
	padding: 0 200px;
	padding-bottom: 250px;
	position: relative;
}

.about-us__content {
	display: grid;
	grid-template-rows: 1.8fr 5fr .8fr;
	padding: 20px 50px;
	padding-bottom: 30px;
}

.about-us__title {
	margin: auto 0;
	font-size: 70px;
	color: #27374D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.about-us__title-mobile {
	display: none;
	margin: auto 0;
	font-size: 70px;
	color: #27374D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
}

.about-us__text {
	/* padding-top: 15px; */
	color: #27374D;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 1.5;
	/* padding-left: 20px; */
	/* padding-right: 50px; */
}

.read-more {
	font-size: 35px;
	height: 65px;
	/* height: 100%; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	cursor: pointer;
	transition: .3s all;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #27374D;
	color: #DDE6ED;
	letter-spacing: 0px;
	padding: 0 20px;
}

.read-more:hover {
	background-color: #DDE6ED;
	color: #27374D;
	text-decoration: underline;
}

.read-more i {
	color: #DDE6ED;
}

.read-more:hover i {
	color: #27374D;
}

.contacts {
	height: 100vh;
	width: 100%;

	display: grid;
	grid-template-rows: 1fr 3fr;

	background-color: #27374D;

	position: relative;
}

.contacts .container {
	/* padding-bottom: 170px; */
	padding: 0 150px 50px;
}

.container-element {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.container__text {
	transition: .3s all;
	color: #DDE6ED;
}

.container__text-title {
	cursor: pointer;
	display: inline-block;
	color: #27374D;
	background-color: #DDE6ED;
	font-size: 45px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	transition: .3s all;

	padding: 0 5px;
}

.container__text-title:hover {
	background-color: #27374D;
	color: #DDE6ED;
	text-decoration: underline;
}

.container__text-description {
	color: #DDE6ED;
	font-size: 30px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;

}

.container__text-description div {
	display: inline-block;
	background-color: #DDE6ED;
	color: #27374D;
	padding: 0 2px;
	margin-top: 10px;
	font-size: 30px;
}

.container__map {
	/* height: 100%; */
	height: 250px;
}

iframe {
	width: 100%;
	height: 100%;
}

.light-icon {
	color: #9DB2BF;
	position: absolute;
	opacity: 0.5;
	transition: .3s all;
	cursor: pointer;
	/* z-index: 1; */
}

.light-icon:hover {
	opacity: 1;
	color: #27374D;
}

.dark-icon {
	color: #526D82;
	position: absolute;
}

.arrow-up {
	position: fixed;
	bottom: 22px;
	right: 25px;
	cursor: pointer;
	background-color: #DDE6ED;
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	text-decoration: none;
	z-index: 7;
}

.arrow-up i {
	color: #27374D;
	font-size: 40px;
	transition: .3s all;
}

.arrow-up:hover i {
	padding-bottom: 15px;
}

.documents {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 3fr;
	position: relative;
}

.documents .title-h2 {
	color: #27374D;
}

.documents-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	width: 100%;
	padding: 0 200px;
	padding-bottom: 150px;
	gap: 10px;
}

.documents-el {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background: #27374D;
	color: #DDE6ED;
	transition: .3s all;
	border: 3px solid #27374D;
	text-align: center;
}

.documents-el:hover {
	background-color: #DDE6ED;
	color: #27374D;
	font-size: 40px;
}

#footer {
	width: 100%;
	height: 20vh;
}

.supporters {
	width: 100%;
	height: 120%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #DDE6ED;
	padding: 0 200px;
	padding-bottom: 230px;
}

.supporter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.supporter-image {
	width: 200px;
	height: 100px;
}

.supporter-img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.supporter-text {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
}

.footer {
	font-family: 'Montserrat', sans-serif;

	background-color: #27374D;
	color: #DDE6ED;
	height: 100%;

	padding: 0 200px;
	padding-top: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.footer-el {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-el:first-child {
	align-items: start;
	/* row-gap: 5px; */
}

.footer-el:last-child {
	align-items: end;
}

.footer-el:first-child,
.footer-el:last-child {
	flex: 1;
}

.footer-el:nth-child(2) {
	flex: 2;
}

.footer-el__name {
	font-size: 30px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 4px;
}

.footer-el__adress,
.footer-el__mobile,
.footer-el__email {
	font-size: 18px;
	line-height: 1.3;
}

.footer-el__desc {
	font-size: 20px;
}

.footer-el__socials {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}



.footer-el__socials a {
	color: #DDE6ED;
	font-size: 60px;
	transition: .3s all;
}

.footer-el__socials:hover a {
	opacity: .5;
}

#developer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Pixelify Sans', sans-serif;
	background-color: #27374D;
	width: 100%;
	color: #DDE6ED;
	padding: 3px 0;
}

#developer span {
	color: #ff0000;
}

.developer-link {
	text-decoration: none;
	color: #DDE6ED;
	font-weight: bold;
}

.developer-link:hover {
	text-decoration: underline;
}

.services {
	position: relative;
	display: grid;
	grid-template-rows: 1fr 3fr;
	width: 100%;
	height: 100vh;
	background-color: #27374D;
}

.services-title {
	margin: auto;
	font-size: 70px;
	color: #DDE6ED;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.services-container {
	width: 200%;
	height: 100%;
	/* padding-left: 100px; */
	/* padding-right: 100px; */
	padding-bottom: 57.5px;
	position: relative;
	display: flex;
	transition: .5s all;
}

.arrow-holder-1 {
	position: absolute;
	top: 56%;
	left: 1.5%;
	background-color: #DDE6ED;
	transition: .3s all;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	cursor: pointer;
}

.arrow-holder-2 {
	position: absolute;
	top: 56%;
	right: 1.5%;
	background-color: #DDE6ED;
	transition: .3s all;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* z-index: 3; */
	cursor: pointer;
}

.fa-chevron-left,
.fa-chevron-right {
	color: #27374D;
	font-size: 40px;
	transition: .3s all;
}

.arrow-holder-1:hover,
.arrow-holder-2:hover {
	background-color: transparent;
}

.arrow-holder-1:hover .fa-chevron-left,
.arrow-holder-2:hover .fa-chevron-right {
	color: #DDE6ED;
}


.services-el {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	padding: 0 100px;
}

.services-image {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#image-window-01,
#image-window-02 {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	transition: 1s all;
}


#image-window-03 {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	transition: 1s all;
}

#image-indicator-01,
#image-indicator-02,
#image-indicator-03 {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: rgba(0, 0, 0, .5);
	border-radius: 100px;
	padding: 0 10px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-dot1,
.image-dot2,
.image-dot3 {
	color: rgba(222, 231, 237, .5);
	font-size: 30px;
	transition: .5s all;
	margin: 0 4px;
	cursor: pointer;
}

.active-dot {
	color: rgba(222, 231, 237, 1);
}

.services-img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.services-img-1-1 {
	top: 0;
	left: 0;
}

.services-img-1-2 {
	top: 0%;
	left: 100%;
}

.services-img-1-3 {
	top: 0%;
	left: 200%;
}

.services-img-1-4 {
	top: 0%;
	left: 300%;
}

.services-content {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1.8fr 5fr 1fr;
}

.services-content-title {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #27374D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 45px;
	background-color: #DDE6ED;
	padding: 0 20px;
}

.services-content-title-mobile {
	display: none;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	color: #27374D;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 45px;
	background-color: #DDE6ED;
	padding: 0 20px;
}

.services-content-text {
	height: 100%;
	width: 100%;
	color: #DDE6ED;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 30px;
	padding-left: 20px;
	line-height: 1.5;
}

.services-content-button {
	background-color: #DDE6ED;
	color: #27374D;
	transition: .3s all;
	height: 100%;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	padding: 0 20px;
	cursor: pointer;
	height: 65px;
}

.services-content-button-arrow {
	/* font-size: 45px; */
}

.services-content-button:hover {
	background-color: transparent;
	color: #DDE6ED;
	text-decoration: underline;
}

.arrow-holder-1 {
	display: none;
}

.no-scroll {
	/* overflow: none; */
	/* height: 100%; */
}

/* ================================= */



@media only screen and (max-width:1440px) {
	.main {
		height: 1000px;
		grid-template-columns: 1fr;
	}

	.arrow-down__link {
		left: 50%;
	}

	.image-content {
		display: none;
	}

	.services {
		height: 100%;
		grid-template-rows: 1fr 6fr;
	}

	.services-el {
		padding: 0 50px;
	}

	#about-us {
		height: 100%;
	}

	.about-us__content {
		grid-template-rows: 1fr 5fr .6fr;
	}

	.about-us__text {
		margin-bottom: 45px;
	}

	.contacts {
		height: 100%;
		grid-template-rows: 1fr 4fr;
	}

	.contacts .container {
		/* padding-bottom: 170px; */
		padding: 0 100px 50px;
	}

	.container-element {
		column-gap: 50px;
	}

	.documents {
		height: 100%;
		grid-template-rows: 1fr 2fr;
	}

	.documents-container {
		padding: 0 100px;
		padding-bottom: 10px;
	}

	.documents-el {
		height: 150px;
	}

	.supporters {
		padding: 0 100px;
	}

	.footer {
		padding: 0 100px;
	}
}

@media only screen and (max-width:831px) {
	.wrapper {
		width: 100vw;
	}

	#navigation {
		padding: 20px;
		width: 100vw;
	}

	.navigation-icon i {
		color: #DDE6ED;
		font-size: 30px;
		cursor: pointer;
	}

	.navigation-elements {
		/* display: none; */
	}

	.navigation-element {
		display: none;
	}

	#navigation-menu {
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 99;
		top: 0;
		right: 0;
		background-color: #27374D;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: "Montserrat", open-sans;
		gap: 30px;
		transition: .3s all;
	}

	.nav-el {
		color: #DDE6ED;
		font-size: 30px;
	}

	.toggle-menu {
		right: 100vw !important;
	}

	.toggle-visibility {
		display: block !important;
	}

	/* ===================================== */

	.container-1 {
		display: flex;
		flex-direction: column;
	}

	.text-content {
		height: 100vh;
	}

	.h1-title {
		font-size: 70px;
		text-align: center;
	}

	.h3-title {
		font-size: 25px;
		padding-left: 35px;
	}

	.button-container {
		display: flex;
		flex-direction: column;
	}

	.button-container a {
		width: 330px;
		text-align: center;
		font-size: 22px;
	}

	.arrow-down__link {
		left: 50%;
		bottom: 15%;
	}

	.image-content {
		display: none;
	}

	.services {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.services-title {
		font-size: 42px;
		padding: 20px;
	}

	.services-container {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.services-el {
		padding: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.services-content-title-mobile {
		display: block;
		font-size: 40px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100vw;
	}

	.services-content-title {
		display: none;
	}

	.services-image {
		width: 100vw;
		height: 50vh;
	}

	.image-window-01,
	.image-window-02 {
		width: 100vw;
	}

	.services-img {
		width: 100vw;
	}

	.services-content {
		width: 100vw;
		/* display: flex; */
		/* flex-direction: column; */
		grid-template-rows: none;
	}

	.services-content-text {
		/* padding: 20px 30px; */
		padding: 20px 20px;
		padding-right: 30px;
		font-size: 28px;
		margin: 0;
	}

	.services-content-button {
		margin: 20px;
		margin-bottom: 30px;
		margin-top: 0;
	}

	.arrow-holder-1,
	.arrow-holder-2 {
		display: none !important;
	}

	.about-us {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.about-us__content {
		grid-template-rows: none;
		padding: 20px;
	}

	.about-us__title {
		display: none;
	}

	.about-us__title-mobile {
		display: block;
		font-size: 42px;
		padding: 20px;
		text-align: center;
	}

	.about-us__text {
		font-size: 28px;
		padding-bottom: 20px;
	}

	.image-window-03 {
		width: 100vw;
	}

	.contacts {
		width: 100vw;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.contacts .title-h2 {
		display: block;
		font-size: 42px;
		padding: 20px;
		text-align: center;
	}

	.contacts .container {
		padding: 0;
		row-gap: 0px;
		display: flex;
	}

	.contacts .container-element {
		grid-template-columns: 1fr;
		/* grid-template-rows: 1fr 1fr; */
		height: 100%;
		padding-bottom: 30px;
	}

	.contacts .container-element .container__text-title {
		margin: 0 20px;
		/* padding-right: 60px; */
		font-size: 30px;
	}


	.contacts .container-element .container__text-description {
		margin: 20px;
		margin-top: 10px;
	}

	.container__map {
		margin: 0 20px;
	}

	.documents {
		height: 100%;
		width: 100vw;
		display: flex;
		flex-direction: column;
		padding-bottom: 50px;
	}


	.documents .title-h2 {
		font-size: 42px;
		padding: 20px;
	}

	.documents-container {
		padding: 0;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		padding: 0px 20px;
		gap: 15px;
	}

	.documents-el {
		font-size: 32px;
		padding: 5px 0;
	}

	#footer {
		width: 100vw;
		height: 100%;
	}

	.supporters {
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.supporter-text {
		font-size: 18px;
		width: 60vw;
		/* margin: 0; */
	}

	.footer {
		padding: 20px;
	}

	.footer-content {
		flex-direction: column;
		gap: 10px;
		align-items: start;
	}

	.footer-el__name {
		/* font-size: 25px; */
		font-family: "Montserrat", open-sans;
		padding-bottom: 10px;
	}

	.services-content-button-text,
	.read-more {
		font-size: 30px;
	}
}
